<div *ngIf="settings"
     [ngClass]="{'hide-settings': hide}"
     class="overlayer"></div>
<div class="guess-screen"
     *ngIf="settings"
     [ngClass]="{'hide-settings': hide}">
     <div class="close"
          (click)="closeSettings()"></div>
     <h2 class="heading">Settings</h2>
     <div class="settings-option-wrap"
          [ngClass]="{'fade-out-settings-content': hide}">

          <app-settings-select name="nationality"
                               heading="NATIONALITY"
                               description="Choose the nationality of the artists."
                               [avaiableOptions]="gameSettings.game.options.nationality"
                               [option]="gameSettings.game.nationality"
                               (changeVal)="handleUpdateSettings($event)">
          </app-settings-select>

          <app-settings-select name="genre"
                               heading="GENRE"
                               description="Choose the genre of the artists music."
                               [avaiableOptions]="gameSettings.game.options.genre"
                               [option]="gameSettings.game.genre"
                               (changeVal)="handleUpdateSettings($event)">
          </app-settings-select>

          <app-settings-select name="artist"
                               heading="ARTIST"
                               description="Choose a specific artist from whose catalog the songs will be randomly selected."
                               [avaiableOptions]="artists"
                               [option]="gameSettings.game.artist"
                               (changeVal)="handleUpdateSettings($event)">
          </app-settings-select>
     </div>
</div>