@use "/src/global/main";

.guess-screen {
  @extend .scroll;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 3;
  background-color: main.$dark;
  background-image: url("/assets/images/settingsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: width 0.1s;
  animation: showSettings 0.1s;
  animation-fill-mode: forwards;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 2%;
  -webkit-box-shadow: -6px 4px 25px 0px rgba(226, 64, 65, 0.12);
  box-shadow: -6px 4px 25px 0px rgba(226, 64, 65, 0.12);
}

.hide-settings {
  overflow: hidden;
  padding: 0;
  animation: hideSettings 0.1s;
  animation-fill-mode: forwards;
}

.overflow-fix {
  overflow-y: auto !important;
}

.heading {
  @include main.flex(center, center, column);
  position: relative;
  text-align: center;
  color: main.$white;
  font-size: 2.5rem;
  margin-top: 10rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  &::before {
    content: "";
    position: absolute;
    top: -30%;
    height: 15%;
    width: 50px;
    letter-spacing: 2px;
    background: main.$darkred;
  }
}

.close {
  @include main.flex(center, center);
  position: absolute;
  top: 3%;
  right: 6%;
  width: 10%;
  height: 10%;
  background-image: url("/assets/images/close.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center center;
  cursor: pointer;
  transition: opacity 0.6s;
  &:hover {
    opacity: 0.5;
  }
}

.settings-option-wrap {
  @include main.flex(center, center, column);
  opacity: 0;
  transition: opacity 0.3s;
  animation: showSettingsContent 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.fade-out-settings-content {
  animation: hideSettingsContent 0.3s;
  animation-fill-mode: forwards;
}

.overlayer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: main.$dark_opacity;
  transition: opacity 0.2s;
}

.hide-overlayer {
  opacity: 0;
}

@keyframes showSettings {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes hideSettings {
  from {
    width: 20%;
  }
  to {
    width: 0%;
  }
}

@keyframes showSettingsContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideSettingsContent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (min-width: 1200px) {
  @keyframes showSettings {
    from {
      width: 0%;
    }
    to {
      width: 25%;
    }
  }

  @keyframes hideSettings {
    from {
      width: 25%;
    }
    to {
      width: 0%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  @keyframes showSettings {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }

  @keyframes hideSettings {
    from {
      width: 20%;
    }
    to {
      width: 0%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  @keyframes showSettings {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }

  @keyframes hideSettings {
    from {
      width: 50%;
    }
    to {
      width: 0%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .guess-screen {
    box-sizing: border-box;
  }

  @keyframes showSettings {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes hideSettings {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
  }
}
