@use "/src/global/main";

.unknown {
  background-image: url("/assets/images/unknown.jpg");
  width: 400px;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid main.$lightred;
  outline: 2px solid main.$lightred;
  outline-offset: 4px;
  position: relative;
}

.guessed-data {
  position: absolute;
  width: calc(100% - 14px);
  background-color: main.$dark_opacity;
  text-align: center;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  z-index: 2;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: bold;
  color: main.$lightred;
  .artist-name {
    text-transform: uppercase;
  }
  .song-title {
    color: main.$darkred;
  }
}

.timer {
  position: absolute;
  top: -15%;
  left: -15%;
  color: main.$white;
  font-size: 5rem;
  letter-spacing: 5px;
  transform: rotate(-15deg);
  font-family: "Holtwood One SC", serif;
}

.guess-screen-wrap {
  @include main.flex(center, flex-start);
  padding-top: 10%;
}

.main {
  @include main.flex(center, center, column);
  margin-top: 2.5%;
  position: relative;
  .lifes-wrap {
    @include main.flex(space-between, center);
    width: 400px;
    margin-top: 5%;
    transition: opacity 0.2s;
    .no-life {
      opacity: 0.3;
    }
  }
}

.inputs-wrap {
  @include main.flex(center, center, column);
  margin-left: 10%;
}

.track {
  margin-top: 5%;
  width: 414px;
  height: 4px;
  background-color: main.$white;
  .progress {
    width: 100%;
    height: 100%;
    background-color: main.$darkred;
    transition: width 0.3s;
  }
  .progress-running {
    animation: progress 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.form-group {
  @include main.flex(center, center);
  width: 400px;
  box-sizing: content-box;
  position: relative;
  padding-top: 1.3rem;
  color: main.$white;
  margin: 5% 0;
  .input {
    position: relative;
    padding: 10px 5px;
    width: 75%;
    background: transparent;
    border: 1px solid main.$darkred;
    outline: none;
    color: main.$white;
    &::placeholder {
      color: main.$lightgrey;
    }
  }
  .input-btn {
    color: main.$white;
    background-color: main.$darkred;
    width: 25%;
    padding: 10px;
    border: 1px solid main.$darkred;
    cursor: pointer;
  }
  .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
  }
  .list {
    @extend .scroll;
    background-color: main.$darkred;
    color: main.$white;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: -255px;
    z-index: 2;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    .loader-spin-wrap {
      @include main.flex(center, center);
      height: 230px;
    }
    .list-element {
      width: 100%;
      padding: 10px;
      font-size: 0.8rem;
      border-bottom: 1px solid main.$lightgrey;
      cursor: pointer;
      box-sizing: border-box;
      &:hover {
        background-color: main.$lightred;
      }
    }
  }
  .close-list {
    position: absolute;
    bottom: -190px;
    background-color: main.$lightred;
    color: main.$white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
    border: none;
    outline: none;
  }
}

.remove-hint-list {
  position: absolute;
  width: 15px;
  margin-left: 20px;
  right: -10%;
  top: 35%;
  cursor: pointer;
}

.btn-wrap {
  width: 100%;
  .guess-btn {
    @include main.btn(
      1.2rem,
      6rem,
      1.2rem,
      3rem,
      5px,
      main.$lightred,
      main.$darkred,
      main.$white,
      1rem
    );
    &::after {
      background-image: url("/assets/images/question-mark.png");
    }
  }
  .next-artist-btn {
    &::after {
      background-image: url("/assets/images/arrow-right.png");
    }
    &:hover {
      &::after {
        animation: arrowAnimation 1.5s;
      }
    }
  }
}

.game-over-overlayer {
  @include main.flex(center, center, column);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
  position: absolute;
  z-index: 99;
  background-color: main.$dark_opacity;
  .btn {
    @extend .btn;
    margin-top: 15%;
  }
}

.game-over-overlayer-full {
  height: 100%;
}

.lost-heading {
  @include main.flex(center, center, column);
  color: main.$white;
  font-size: 3rem;
  margin: 2rem 0 0 0;
  .lost-info {
    font-family: "Nunito", sans-serif;
    color: main.$white;
  }
  .score-info {
    color: main.$lightgrey;
    font-size: 1.5rem;
  }
}

input:disabled,
button:disabled,
label[data-disabled="true"] {
  opacity: 0.3;
  cursor: default !important;
}

/* list loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes questionMarkAnimation {
  0% {
    transform: scale(1) rotate(0);
  }
  25% {
    transform: scale(1.2) rotate(10deg);
  }
  50% {
    transform: scale(1.4) rotate(20deg);
  }
  75% {
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
