@use "/src/global/main";

.box {
  margin-top: 8rem;
}

.settings-wrap {
  z-index: 3;
}

.settings {
  position: absolute;
  width: 100%;
  min-height: 5%;
  z-index: 3;
  top: 3%;
  right: 2%;
  background-image: url("/assets/images/settings.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% center;
  cursor: pointer;
  transition: opacity 0.6s;
  &:hover {
    opacity: 0.5;
  }
}

.error-info {
  color: main.$lightgrey;
  margin: 10% 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1100px) {
  .logo {
    width: 65%;
  }
  .box {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 75%;
  }
  .btn {
    background-image: none !important;
    padding: 1.2rem 3rem;
    &::after {
      width: 0;
      background-image: none !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 80%;
  }
}
