@use "/src/global/main";

:host {
  width: 100%;
}

.choice-wrap {
  @include main.flex(center, flex-start, column);
  width: 100%;
  color: main.$white;
  padding-bottom: 5%;
  margin: 3% 0;
  border-bottom: 1px solid main.$darkred;
  h2 {
    @include main.flex(flex-start, center);
    width: 60%;
    position: relative;
    font-family: "Nunito", sans-serif;
    &::before {
      content: "";
      height: 4px;
      width: 10%;
      background: main.$darkred;
      margin-right: 10px;
      border-radius: 50px 0 0 50px;
    }
    &::after {
      content: "";
      height: 4px;
      width: 30%;
      background: main.$darkred;
      margin-left: 10px;
      border-radius: 0 50px 50px 0;
    }
  }
  select {
    @extend .scroll;
    margin-top: 5%;
    width: 75%;
    padding: 1em 2em;
    color: main.$white;
    background-color: main.$darkred;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
