<div #gameOver
     class="game-over-overlayer">
    <h1 class="lost-heading">
        <div class="left-side"
             [style.backgroundImage]="backgroundImage">
            <span class="overlayer"></span>
            <span class="not-guessed-data">Artist: <span>{{ artist }}</span></span>
            <span class="not-guessed-data">Track: <span>{{ track }}</span></span>
        </div>
        <div class="right-side">
            <span class="lost-info">You lost 😔</span>
            <span class="score-info">
                You scored <span>{{ score }} points</span>
            </span>
            <button (click)="restartAfterLost()"
                    class="lost-btn">Guess Again!</button>
        </div>
    </h1>
</div>