@use "/src/global/main";

.game-over-overlayer {
  @include main.flex(center, center, column);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  transition: height 0.3s;
  z-index: 99;
  background-color: main.$dark_opacity;
  .lost-btn {
    @extend .btn;
    margin-top: 10%;
  }
}

.lost-heading {
  @include main.flex(center, center);
  color: main.$white;
  font-size: 3rem;
  margin: 2rem 0 0 0;
  .left-side {
    @include main.flex(flex-end, flex-start, column);
    border: 2px solid main.$lightred;
    outline: 2px solid main.$lightred;
    outline-offset: 4px;
    position: relative;
    width: 370px;
    height: 370px;
    .overlayer {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .not-guessed-data {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      font-size: 1.2rem;
      font-family: "Nunito", sans-serif;
      padding: 0 20px;
      background-color: rgba(0, 0, 0, 0.5);
      span {
        font-weight: bold;
        font-size: 1rem;
        color: main.$lightred;
      }
    }
  }
  .right-side {
    @include main.flex(flex-start, flex-start, column);
    width: 370px;
    height: 386px;
    margin-left: 10%;
    .score-info {
      color: main.$lightgrey;
      font-size: 1rem;
    }
    .lost-info {
      @include main.flex(flex-start, flex-start, column);
      margin-top: -5%;
      font-family: "Nunito", sans-serif;
      color: main.$white;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .lost-heading {
    flex-direction: column-reverse;
    .right-side {
      @include main.flex(center, center, column);
      margin-left: 0;
      height: auto;
    }
    .left-side {
      width: 300px;
      height: 300px;
      margin-top: 10%;
    }
  }
}
